@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Quattrocento+Sans&display=swap');

.shinybreakpoint-modal {
  font-family: "Dosis";
  letter-spacing: 2px;
}

.shinybreakpoint-modal .modal-dialog {
  max-width: none;
  width: 95%;
}

.shinybreakpoint-modal .reactable {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 1px;
  border-width: 0;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: #e2e2e2;
}

.shinybreakpoint-modal .rt-tr-group-header {
  box-shadow: 0 0 20px #c09eb1 !important;
  border-width: 0;
  outline-width: 0;
  padding: 2px;
  margin: 5px 10px 10px 5px;
}

.shinybreakpoint-div-activate {
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-width: 0;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: #e2e2e2;
}

.shinybreakpoint-div-last_input_chosen_id .radio-group-buttons {
  display: inline-block;
  box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 0px rgba(0,0,0,0.24);
  border-width: 0;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: #e2e2e2;
}

.shinybreakpoint-div-elements {
  height: 60vh;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px;
  border-width: 0;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: #e2e2e2;
}

.shinybreakpoint-div-last_input_chosen_id .btn {
  margin-top: 9%;
}

.shinybreakpoint-div-last_input_chosen_id .btn:hover,
.shinybreakpoint-div-last_input_chosen_id .btn-check:active,
.shinybreakpoint-div-last_input_chosen_id .active,
.shinybreakpoint-div-last_input_chosen_id .btn-check:checked+.btn-outline-primary {
  background-color: #DFD6D2 !important;
  color: #635147;
  border-color: #e2e2e2;
}

.shinybreakpoint-div-last_input_chosen_id .btn-outline-primary {
  color: #d0a492;
  border-color: #a4a0a0;
}

.shinybreakpoint-div-last_input_chosen_id .btn-check:checked+.btn-outline-primary {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0 3px 5px rgba(0,0,0,.125);
}

.shinybreakpoint-div-elements .selectize-input {
  background-color: #f2eeeb !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-width: 0;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: #e2e2e2;
  text-align: center;
  color: #635147;
}

.shinybreakpoint-div-elements .selectize-dropdown {
  background-color: #f2eeeb !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-width: 0;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: #e2e2e2;
  text-align: center;
}

.shinybreakpoint-div-elements .selectize-dropdown .option {
  color: #635147;
}

.shinybreakpoint-div-elements .selectize-input:hover {
  background-color: #DFD6D2 !important;
}

.shinybreakpoint-div-elements .selectize-input.focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
}

.shinybreakpoint-modal .modal-dialog {
  height: 89%;
}

.shinybreakpoint-modal .modal-content {
  height: 100%;
}

.shinybreakpoint-modal .modal-body {
  background-color: #f2eeeb;
}

.shinybreakpoint-modal .rt-th {
  border-bottom: 0;
}

.shinybreakpoint-modal .rt-tbody {
  font-family: "Quattrocento Sans";
  font-size: 17px;
  letter-spacing: 0;
  cursor: pointer;
}

.shinybreakpoint-div-elements {
  letter-spacing: 1px;
}

.shinybreakpoint-selectInput,
.shinybreakpoint-div-elements .radio-group-buttons {
  background-color: #f2eeeb;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
}

.shinybreakpoint-div-elements .btn-group-vertical {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 0.01px;
  border-width: 0;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 0;
  outline-width: 0;
  outline-style: solid;
  outline-color: #e2e2e2;
}

.shinybreakpoint-div-elements .btn:hover,
.shinybreakpoint-div-elements .btn-check:active,
.shinybreakpoint-div-elements .active,
.shinybreakpoint-div-elements .btn-check:checked+.btn-outline-primary {
  background-color: #DFD6D2 !important;
  color: #635147;
  border-color: #e2e2e2;
}

.shinybreakpoint-div-elements .btn-check:checked+.btn-outline-primary {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0 3px 5px rgba(0,0,0,.125);
}

.shinybreakpoint-div-elements .btn {
  background-color: #f2eeeb;
  color: #635147;
}

.shinybreakpoint-div-elements .btn-outline-primary {
  border-color: #e2e2e2;
}

.shinybreakpoint-modal .control-label {
  display: none;
}

.shinybreakpoint-modal .btn-group-vertical {
  display: inherit;
}

.shinybreakpoint-radioGroupButtons label,
.shinybreakpoint-radioGroupButtons button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shinybreakpoint-div-elements br {
  display: none;
}

.shinybreakpoint-modal .rt-td-select {
  display: none;
}

.shinybreakpoint-modal .shinybreakpoint-na-row {
  width: 99%;
  margin: auto;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.125), 0 1px 1px rgba(0,0,0,.125);
  margin-top: 1px;
  margin-bottom: 1px;
  height: 1px;
  background-color: #ede9da;
}

.shinybreakpoint-modal .rt-compact .rt-td-inner,
.shinybreakpoint-modal .rt-compact .rt-th-inner {
  padding: 0 0 !important;
}

.shinybreakpoint-modal .rt-th-inner {
  color: #c09eb1;
}

.shinybreakpoint-modal .shinybreakpoint-set {
  box-shadow: inset -3px -3px 15px #984747 !important;
}

.shinybreakpoint-modal .shinybreakpoint-not-set {
  box-shadow: inset -3px -3px 15px #9a9096 !important;
}

.shinybreakpoint-modal .shinybreakpoint-activate-btn {
  background-color: #ebeff2 !important;
  color: #87585c !important;
  border-color: inherit !important;
  font-family: "Dosis"!important;
  letter-spacing: 2px!important;
}

.shinybreakpoint-modal .shinybreakpoint-activate-btn:focus {
  box-shadow: none !important;
}

.shinybreakpoint-modal .shinybreakpoint-activate-btn:focus-visible {
  box-shadow: none !important;
}

.shinybreakpoint-modal .shinybreakpoint-activate-btn:active {
  background-color: #bbc9d3 !important;
}

.shinybreakpoint-activate-btn-ready {
  box-shadow: 0 0 20px #8fb6b4 !important;
}

.shinybreakpoint-modal .selectize-dropdown .option {
  cursor: pointer;
}

.shinybreakpoint-modal #shinybreakpoint-name {
  text-align: center;
  color: #a89d40;
  box-shadow: inset 0 0 20px #bdbfd4;
  border-radius: 30px;
  font-family: "Dosis"!important;
  letter-spacing: 3px;
  font-style: italic;
}

.shinybreakpoint-modal #shinybreakpoint-name-div {
  box-shadow: 0 0 20px #bdbfd4;
  border-radius: 30px;
}

.shinybreakpoint-modal #br-shinybreakpoint-name {
  height: 5vh;
}

.shinybreakpoint-modal .string_code,
.shinybreakpoint-modal .string_code .comment_code,
.shinybreakpoint-modal .string_code .bracket_code,
.shinybreakpoint-modal .string_code .select_code,
.shinybreakpoint-modal .string_code .keyword_code,
.shinybreakpoint-modal .string_code .specials_code,
.shinybreakpoint-modal .string_code .namespace_code,
.shinybreakpoint-modal .string_code .fun_call_code,
.shinybreakpoint-modal .string_code .brace_code,
.shinybreakpoint-modal .string_code .number_code {
  color: #4e9a06;
  background-color: inherit;
}

.shinybreakpoint-modal .comment_code {
  color: white;
  background-color: #6f7850;
}

.shinybreakpoint-modal .bracket_code {
  color: #FF6600;
}

.shinybreakpoint-modal .select_code {
  color: #a2006d;
}

.shinybreakpoint-modal .keyword_code {
  color: #0099FF;
}

.shinybreakpoint-modal .number_code {
  color: #8f5902;
}

.shinybreakpoint-modal .specials_code {
  color: #CF4F5F;
}

.shinybreakpoint-modal .namespace_code {
  color: #b88a00;
}

.shinybreakpoint-modal .fun_call_code,
.shinybreakpoint-modal .fun_call_code .keyword_code {
  color: #6464dd;
}

.shinybreakpoint-modal .brace_code {
  color: #fc0fc0;
}

.shinybreakpoint-modal .reactable ::selection {
  color: white;
  background: #898a74;
}

.shinybreakpoint-modal .no-file .circle-div {
  display: flex;
  justify-content: center;
  height: 84vh;
}

.shinybreakpoint-modal .no-file .circle-div .circle {
  align-self: center;
  border: 3px solid #984747;
  background-color: #f2eeeb;
  height: 50vh;
  border-radius:50%;
  width: 50vh;
}

.shinybreakpoint-modal .no-file p {
  font-style: italic;
  text-align: right;
}

body.shinybreakpoint-cursor-progress * {
  cursor: progress;
}
